.componentes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.componente{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.componenteBorder{
    border: 1px solid black;
    margin: 20px;
}

.componentes h2{
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid black;
    padding: 15px;
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content label{
    width: 150px;
}

.content input, select{
    width: 200px;
}

.content h2, h3, h4, button, a{
    margin-top: 10px;
}

.content button{
    width: 200px;
}

.content img{
    border: 1px solid black;
}

.submitBtn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

